parameters:
  level: 6
  paths:
    - packages/mcp-core/src
    - packages/mcp-client/src
    - packages/mcp-server/src
    - packages/mcp-transport-stdio/src
    - packages/mcp-transport-streamhttp/src
    - packages/mcp-codec-json/src
  tmpDir: .cache/phpstan
  checkGenericClassInNonGenericObjectType: false
  reportUnmatchedIgnoredErrors: true
