<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
    cacheDirectory=".cache/phpunit"
>
    <testsuites>
        <testsuite name="mcp-client">
            <directory>./packages/mcp-client/tests</directory>
        </testsuite>
        <testsuite name="mcp-server">
            <directory>./packages/mcp-server/tests</directory>
        </testsuite>
        <testsuite name="mcp-transport-streamhttp">
            <directory>./packages/mcp-transport-streamhttp/tests</directory>
        </testsuite>
        <testsuite name="mcp-codec-json">
            <directory>./packages/mcp-codec-json/tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
